[submodule "chemacs2"]
	path = .config/emacs
	url = https://github.com/plexus/chemacs2.git
[submodule "lfimg-sixel"]
	path = .config/lf/plugins/lfimg-sixel
	url = https://github.com/horriblename/lfimg-sixel.git
[submodule "tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh-history-substring-search"]
	path = .config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule "doomemacs"]
	path = .config/doom
	url = git@github.com:rezaamashi/doom-emacs.git
